body{
  background-color: skyblue;
}

h1{
    color: blue;
    border: dashed darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: size 30px;
}

h2{
    background-color: darkblue;
    color: white
}